<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test Page</title>
    <link rel="stylesheet" type="text/css" href="../static/mainstyle.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script>

        function get_chart_data() {
            
            var Days=7;
            var Graph_Time_scale = 24; // neet to pull this from options.
            
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                
                    var data = JSON.parse(this.responseText);
                    //As,Ab,Ts
                    var As = data[0];
                    var Ab = data[1];
                    var Ts = data[2];

                    var aSTS = [['TimeStamp','AvailableStands']];
                    var aBTS = [['TimeStamp','AvailableBikes']];
                    var MultiPlot=[['TimeStamp','AvailableBikes','AvailableStands']];

                    for (var i=0; i<As.length; i++){
                        aBTS.push([Ts[i],As[i]]);
                        aSTS.push([Ts[i],Ab[i]]);
                        MultiPlot.push([new Date(Ts[i]),Ab[i],As[i]]);
                    }

                    // Load the Visualization API and the corechart package.
                    google.charts.load('current', {'packages':['corechart']});

                    // Set a callback to run when the Google Visualization API is loaded.
                    google.charts.setOnLoadCallback(drawChart);

                    // Callback that creates and populates a data table,
                    // instantiates the pie chart, passes in the data and draws it.
                    function drawChart() {
                        
                                    // Create the data table.
                        var Sdata = new google.visualization.arrayToDataTable(aSTS);
                        var Bdata = new google.visualization.arrayToDataTable(aBTS); 
                        var MultiPlotdata =  new google.visualization.arrayToDataTable(MultiPlot); 
                        // Set chart options
                        var options = {
                            'title': 'Bikes Information last ' + Graph_Time_scale + " Hours",
                            hAxis: {title: 'Time',  titleTextStyle: {color: '#333'}},
                            vAxis: {title: 'Number', minValue: 0},
                            legend: {position: 'top', maxLines: 3},
                            explorer: {
                                keepInBounds: true,
                                actions: ['dragToZoom', 'rightClickToReset']
                            },
                            'width':700,
                            'height':300
                        };

                        // Instantiate and draw our chart, passing in some options.
                        // plot types: Area/Column/Line/Scatter/DataView
                        var chart2 = new google.visualization.AreaChart(document.getElementById('chart_div2'));
                        chart2.draw(MultiPlotdata, options)

                        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                        chart.draw(MultiPlotdata, options)
                    }
                }
            };
            xmlhttp.open("GET", "/make_charts?Days=1&Station=5&TimeStep=30", true);
            xmlhttp.send();
        }
    </script>
</head>
<body>
    <!-- Render chart in here -->
    <h1 style="text-align: center">TESTPAGE</h1>
    <hr>
    <div id="chart_div" style="width:40%; text-align:center; margin:auto;"></div>
    <div id="chart_div2" style="width:40%; text-align:center; margin:auto;"></div>
    <p style="text-align:center;margin:auto;">

    </p>
    <script>get_chart_data()</script>

</body>
</html>
