/* Styles for index.html */ 

#headerbox {
    height: 15%;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 80px;
    border-bottom: 10px solid white;
    text-align: center;
    background: #084c55;
    color: white;
    font-size: 25px;
    font-family: Arial
}

#footerbox {
    height: 1%;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 80px;
    border-top: 10px solid white;
    text-align: center;
    background: #084c55;
    color: white;
    font-size: 25px;
    font-family: Arial;
    position:fixed;
    bottom: 0;
    left:0;
}

#contentwindow {
    height: 70%;
    width: 100%;
    overflow: hidden;
}

#map {
    height:100%;
    width: 50%;
    display: inline-block;
    position: relative;
}

#infobox {
    height:100%;
    width: 0%;
    vertical-align: top;
    display: inline-block;
    background: #6ac985;
    text-align: center;
    background: #417782;
    color: white;
    font-size: 20px;
    font-family: Arial;
    visibility:hidden;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
} */
/* .sidenav button {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav button:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} */

/* Following is placeholder dropdown css */
/* Dropdown Button */

.dropbtn {
    background-color: #114b56;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    float: left;
}

.dropdown {
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #114b57;
}

/* SKYCONS */
canvas {
    display: block;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}

pre {
    font: 77.8%/1.5em "Lucida Sans Typewriter", "Lucida Console", "Monaco", "Bitstream Vera Sans Mono", monospace;
    margin: 3.375em 1.6875em;
}

a, pre span.comment {
    color: royalblue;
}

a:visited, pre span.constant {
    color: indianred;
}
