/* Styles for index.html */ 

#headerbox {
    height: 15%;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 80px;
    border-bottom: 1px solid white;
    text-align: center;
    background: #084c55;
    color: white;
    font-size: 25px;
    font-family: Arial
}

#footerbox {
    height: 1%;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 80px;
    border-top: 1px solid white;
    text-align: center;
    background: #084c55;
    color: white;
    font-size: 25px;
    font-family: Arial;
    position:fixed;
    bottom: 0;
    left:0;
}

#contentwindow {
    height: 0%;
    width: 0%;
    overflow: hidden;
    visibility: hidden;
}

#loadingwindow{
    height: 70%;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.loader {
    margin-top: 12%;
    margin-left: 45%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#sidenav{
    height:100%;
    width:10%;
    float:left;
    background-color: #084c55;
}

#map_container {
    height:100%;
    width:90%;
    display:block;
    float:right;
    position:relative;
}

#map {
    height:100%;
    width: 100%;
    display: block;
    float:right;
    position: relative;
}

#infobox {
    height:100%;
    width: 0%;
    vertical-align: top;
    display: inline-block;
    background: #6ac985;
    text-align: center;
    background: #417782;
    color: white;
    font-size: 20px;
    font-family: Arial;
    visibility:hidden;
}

#information-table{
    width:100%;
}

#weathericon{

    margin-left:auto;
    margin-right:auto;
    display:block;
}

#toggle_list{
    list-style-type: none;
    font-size: 12pt;
}

#toggle_list>ul{
    align-content: center;
    text-align:center;
}

#toggle_list>li {
    /* float:left; */
    display: inline-block;
    padding:0;
    margin-left:10px;
    margin-right:10px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #084c55;
}

/* Following is placeholder dropdown css */
/* Dropdown Button */

.dropbtn {
    background-color: #114b56;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    float: left;
}

.dropdown {
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #114b57;
}

/* Switch settings for bottom of page */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    border-radius:20px;
  }

.slider {
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    position: absolute;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    border-radius:20px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(36.5px);
    -ms-transform: translateX(36.5px);
    transform: translateX(36.5px);
}

/* SKYCONS */
canvas {
    margin-left:auto;
    margin-right:auto;
    display:block;
}
pre {
    font: 77.8%/1.5em "Lucida Sans Typewriter", "Lucida Console", "Monaco", "Bitstream Vera Sans Mono", monospace;
    margin: 3.375em 1.6875em;
}
a, pre span.comment {
    color: royalblue;
}
a:visited, pre span.constant {
    color: indianred;
}

table>tbody>tr>td {
    width:33%;
}
