/* Styles for index.html */ 

#headerbox {
    height: 15%;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 40px;
    border-bottom: 1px solid white;
    text-align: center;
    background: #084c55;
    color: white;
    font-size: 25px;
    font-family: Arial
}

#footerbox {
    height: 1%;
    width: 100%;
    z-index:1;
    padding-top: 14px;
    padding-bottom: 80px;
    border-top: 1px solid white;
    text-align: center;
    background: #084c55;
    color: white;
    font-size: 25px;
    font-family: Arial;
    position:fixed;
    bottom: 0;
    left:0;
}

#contentwindow {
    height: 0%;
    width: 0%;
    overflow: hidden;
    visibility: hidden;
}

#loadingwindow{
    height: 70%;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.loader {
    margin-top: 12%;
    margin-left: 45%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#sidenav{
    background-color: #084c55;
    min-width: 280px;
    height:100%;
    width:15%;
    z-index:1;
    float:left;
    position:fixed;
}

#menu_headbar {
    min-width: 280px;
    cursor: pointer;
    position:relative;
    z-index:1;
    padding-top:5px;
}

#menu_headbar>p {
    float:left;
    width:220px;
    text-align:center;
    color:white; 
    font-size:15pt;
    margin-top:7px;
    margin-bottom:5px; 
    padding:0;
}

#menu_arrow {
    width:10px;
    height:15px;
    transform: rotate(90deg);
}

#map_container {
    height:100%;
    width:85%;
    display:block;
    float:right;
    position:relative;
}

#map {
    height:100%;
    width: 100%;
    display: block;
    float:right;
    position: relative;
}

#find_station_content_box {
    visibility:transparent;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    border:0;
    background-color:#417782;
}

#station_number_find {
    width:100%;
    border-radius:20px;
    height:25px;
    font-size: 12pt;
    bottom:0;
    top:0;
}

#station_name_find {
    width:100%;
    border-radius:20px;
    height:25px;
    font-size: 12pt;
    bottom:0;
    top:5;
}

select {
    /* text-align-last:right; */
    padding-left: 20px;
    font-size:15pt;
    font-weight:2em;
    /* direction: rtl; */
}

#find_nearest_station_button {

    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #084c55;
    background-color: whitesmoke;
    padding: 14px 28px;
    border-radius:5px;
    font-size: 18px;
    margin: 4px 2px;
    margin-top:250px;
    font-weight:3em;
    border: none;

}

#Forecast_content_inner_html>img {
    width:90%;
    height:35%;
    padding:10px;
}

#infobox {
    height:100%;
    width: 0%;
    vertical-align: top;
    display: inline-block;
    background: #6ac985;
    text-align: center;
    background: #417782;
    color: white;
    font-size: 20px;
    font-family: Arial;
    visibility:hidden;
}

#infoboxcontent p {
    padding:35px;
    text-align:left;
    padding-top:10px;
    padding-bottom:10px;
    overflow-x: auto;
    margin:0;
}

#information-table{
    width:80%;
    margin:auto;
}

#weathericon{

    margin-left:auto;
    margin-right:auto;
    display:block;
}

#toggle_list{
    list-style-type: none;
    font-size: 12pt;
}

#toggle_list>ul{
    align-content: center;
    text-align:center;
}

#toggle_list>li {
    /* float:left; */
    display: inline-block;
    padding:0;
    margin-left:10px;
    margin-right:10px;
}

#WeatherInfolist {
    width:90%;
    margin:auto;
    color:white;
}

#WeatherInfolist p {
    width:100%;
    text-align:left;
    margin:0;
    margin-top:5px;
}

/* #WeatherInfolist p {
    width:50%;
    margin:0;
    padding:0;
} */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #084c55;
}

/* Following is placeholder dropdown css */
/* Dropdown Button */

.dropbtn {
    background-color: #114b56;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    float: left;
}

.dropdown {
    position: relative;
    height:100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    /* display: none; */
    position: relative;
    background-color: #084c55;
    min-width: 200px;
    height:140px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #ddd;
    font-size: 13pt;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #114b57;
}

/* Switch settings for bottom of page */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    border-radius:20px;
  }

.slider {
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    position: absolute;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    border-radius:20px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(36.5px);
    -ms-transform: translateX(36.5px);
    transform: translateX(36.5px);
}

/* SKYCONS */
canvas {
    margin-left:auto;
    margin-right:auto;
    display:block;
}
pre {
    font: 77.8%/1.5em "Lucida Sans Typewriter", "Lucida Console", "Monaco", "Bitstream Vera Sans Mono", monospace;
    margin: 3.375em 1.6875em;
}
a, pre span.comment {
    color: royalblue;
}

/* table>tbody>tr>td {
    width:33%;
} */

h4 {
    color:white; 
    text-align:center; 
    font-weight: 2em;
    min-width: 200px;
}
